* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  text-transform: capitalize;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* :root {
    --primery: #1ae9de; { universal color code}
    --we
} */
button {
  cursor: pointer;
}
header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 3%;
  background: rgb(176, 153, 107);
  align-items: center;
}
.logo a {
  text-decoration: none;
  font-weight: bold;
}
.logo a:hover {
  color: #fff;
}
nav {
  display: flex;
  gap: 20px;
}
nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
nav a:hover {
  color: white;
}
.bar {
  display: none;
 
}
section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.home {
  background: url(image.png) no-repeat;
  background-size: cover;
  justify-content: center;
  padding: 1rem;
}
.home h1 {
  font-size: 50px;
  font-weight: 600;
  color: white;
}
.home p {
  font-size: 14px;
  max-width: 50%;
  margin-top: 1rem;
  color: #fff;
}

.home button {
  margin-top: 2rem;
  border: 1px solid rgb(111, 95, 62);
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  margin-left: 10px;
  font-weight: bold;
  text-align: center;
}
.home .ornage {
  background: #f49f00;
  color: white;
}

.home button:hover {
  color: #e60000;
}

.menu {
  width: 100%;
  height: 50vh;
  text-align: center;
  padding: 1rem;
  margin: 0;
  background: #f7f4ee;
  align-items: center;
}
.box-container {
  display: flex;
  align-items: center;
}
.box-container img {
  width: 100px;
  height: 100px;
  border: 4px solid rgba(243, 202, 169, 0.7);
  border-radius: 10rem;
  padding: 3%;
  background: #cbc7c3;
}

.menu h1 {
  padding: 2rem 0;
}

.line {
  width: 5px;
  height: 150px;
  background-color: rgb(236, 178, 78);
}

.choose-container {
  display: flex;
  flex-direction: row;
  background: rgb(215, 202, 174);
  height: 40vh;
  overflow: hidden;
}
.coffee-container-1 {
  display: flex;
}
.coffee-container {
  background: #412401;
  padding: 3rem;
  padding-bottom: 2rem;
}
.coffee-container p,
span,
h2 {
  color: #fff;
}

.coffee-container p {
  font-size: 14px;
  font-weight: 200;
  max-width: 25rem;
}

.coffee-container span {
  font-size: 14px;
  font-weight: 400;
}

.coffee-container button {
  background: rgb(215, 202, 174);
  color: #000000;
  font-weight: bold;
  width: 100px;
  height: 40px;
  margin-top: 10px;
}

.coffee-container button:hover {
  color: #070707;
  background: #412401;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
}

.image-container {
  overflow: hidden;
  width: 40rem;
}

.image-container img {
  height: 20rem;
}

.offer {
  background: rgb(215, 202, 174);
  text-align: center;
  padding: 2rem 0rem;
  color: #000000;
}

.offer p {
  padding: 0.5rem 2rem;
}

.offer button {
  background: #412401;
  color: #ffffff;
  font-weight: bold;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
}

.offer button:hover {
  color: #070707;
  background: rgb(215, 202, 174);
  border: 1px solid #412401;
  border-radius: 1rem;
}

.morning {
  background: rgb(243, 234, 217);
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 2rem 0rem 1rem 6rem;
}

.morninghappy img {
  height: 80px;
  width: 80px;
  border: 10px solid rgba(230, 155, 76, 0.7);
  border-radius: 90%;
}
.morninghappy p {
  font-size: 14px;
  padding: 0rem 2rem;
  width: 50vh;
  height: 1vh;
}
.morninghappy h2 {
  padding: 0.5rem 2rem;
  color: #000000;
}

.morninghappy button {
  background: rgb(243, 234, 217);
  color: #010000;
  font-weight: bold;
  width: 18vh;
  height: 4vh;
  margin: 7rem 3rem 0rem 0rem;
  border: 0.1rem solid rgb(234, 202, 160);
  border-radius: 1rem;
}

.morninghappy button:hover {
  color: #070707;
  background: rgb(215, 202, 174);
  border: 1px solid rgb(0, 0, 0);
}

.price-container h2 {
  margin: 0rem 0rem 0rem 25rem;
  font-weight: bold;
  font-size: 5vh;
}
.price-container img {
  width: 20vh;
  height: 25vh;

  padding-top: 0rem;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 5vh;
  object-fit: cover;
}
.gallery {
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}
.gallery .item {
  align-items: center;
  text-align: center;
}
.wow-container {
  background: url(wow-background.jpeg);
  background-size: cover;
  color: #fff;
  padding: 10rem;
  font-size: large;
  height: 70vh;
}
.wow-container h2 {
  font-size: 28px;
}
.wow-container p {
  padding-top: 2rem;
  font-size: 18px;
}
.wow-container button {
  margin: 2rem 7rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  background: #e0d7c3;
  border: 1px solid black;
  border-radius: 8rem;
}
.wow-container button:hover {
  color: white;
  background: #412401;
  border: 1px solid black;
  border-radius: 8rem;
}
.round-container {
  display: flex;
  flex-direction: row;
  background: rgb(215, 202, 174);
  height: auto;
  padding-bottom: 2rem;
}
.round-container h1 {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.round-contain {
  display: flex;
  flex-direction: row;
  margin: 2rem 1rem 0rem 5rem;
}
.round-contain img {
  width: 100px;
  height: 100px;
  align-items: center;
  border: 1px solid black;
  border-radius: 20rem;
}
.coffee-containers {
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}
.round-contain-image {
  padding: 0rem 2rem 0rem 2rem;
}
footer {
  background: #412401;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}
.footer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1rem 1rem 1rem;
}

.logoo img {
  justify-content: space-between;
  align-items: center;
  border-radius: 30rem;
  margin: 1rem 3rem 0rem 3rem;
}
.footer-button1 {
  margin-right: 1rem;
  border: 0.7rem solid rgb(237, 224, 224);
  border-radius: 10rem;
  background-color: rgb(237, 224, 224);
}
.footer-button2 {
  border: 0.7rem solid rgb(237, 224, 224);
  border-radius: 10rem;
  background-color: rgb(237, 224, 224);
}
.party button:hover {
  border: 0.7rem solid #412401;
  border-radius: 10rem;
  background-color: #412401;
  color: white;
  font-weight: bold;
}
@media (max-width: 768px) {
    
  /* -------Header------ */
  header {
    padding:
      1rem,
      0rem,
      1rem 1rem;
    font-size: 14px;
    width: 100vw;
  }
  .navbar {
    display: none;
    
    gap: 10px;
  }
  .bar {
    display: block;
  } .menu {
    height: fit-content;
  }
  .line {
    transform: rotate(90deg);
    height: 300px;
  }
  .choose-container {
    display: inline-block;
    height: fit-content;
  }
  .box-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: auto;
  }
  .coffee-container-1 {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  .cup-container {
    display: inline-block;
  }
  .image-container {
    visibility: hidden;
    width: 0;
    height: 0;
  }
 
  .morning {
    display: inline-block;
    font-size: 12px;
    padding: 0rem;
  }
  .morninghappy img{
    margin: 2rem;
  }
  .morninghappy button {
    margin: 0;
    margin-top: 7rem;
    margin-left: 2rem;
  }

  .round-contain {
    display: inline-block;
    /* padding-top: 2rem; */
    margin: 0;
  }
  .coffee-containers {
    padding-top: 2rem;
  }
  .price-container h2 {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-size: 18px;
    padding-top: 2rem;
    padding-left: 2rem;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0;
    padding-top: 2rem;
  }
  .item {
    margin: 2rem;
  }
  .wow-container {
    height: fit-content;
    padding: 1rem;
  }
  /*------- FOOTER--------  */
  .footer {
    height: fit-content;
    width: 100vw;
  }
  .footer-link h2 p {
    font-size: 12px;
    font-weight: normal;
  }
  .logoo {
    display: flex;
    flex-direction: row;
    margin: 0px;
  }
  .logoo img {
    margin: 0.5rem;
    height: 2rem;
  }
  .party button {
    height: auto;
    border: 0;
    /* border-radius: 0; */
  }
}

