*{
margin: 0;
padding: 0;

    
}

#table{
    text-align: left;
    background: rgb(224, 214, 214);
    margin-left: 2rem;
    margin-right: 39rem;
    font-weight: bold;
}
.tables h2{
    text-align: left;
    background: rgb(166, 174, 12);
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 35rem;
    font-weight: bold;
}
.tables h3{
    text-align: center;
    background:rgb(166, 174, 12);
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 35rem;
    font-weight: bold;
}
.morning{
    background: rgb(203, 200, 200);
}

